

table {
        font-family: arial, sans-serif;
        width: 60%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        }

        table, th, td {
        border: 1px solid black;
        padding: 15px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }